.app-login {
    background: #dfdfdf;
    padding: 0 !important;
}

.app-login .app-body .app-block {
    transition: all 0.2s ease;
    background-color: #FFF;
    border-radius: 10px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.app-login .app-body .app-block .app-form .form-header .highlight {
    font-weight: 400;
    color: #144be2;
    margin-right: 2px;
}

.btn.btn-success {
    border-color: #29c75f;
    border-bottom-color: #18aa4a;
    background-color: #29c75f;
    box-shadow: 0 2px 3px rgba(41, 199, 95, 0.3);
}

.card.card-banner .card-body .content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    z-index: 100;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 12rem;
    padding-right: 2rem;
}

.card.card-banner .card-body .content .value {
    font-size: 4em;
    line-height: 1;
    font-weight: 200;
    padding-top: 2rem;
    
}